body {
  background: linear-gradient(to right, #0056b3, #003c7e);
  font-family: Verdana, sans-serif;
  color: #333;
  padding-top: 60px;
}

.card {
  border-radius: 15px;
}

.form-control {
  border-radius: 10px;
}

h2 {
  color: #0056b3;
}

.container {
  max-width: 700px;
}
