<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>




<body>
  <div id="map"></div>


  <!-- Google map -->
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: { lat: 48.8566, lng: 2.3522 }
      });


      var locations = [
        { lat: 50.8867699, lng: 20.591539 },
        { lat: 49.4285018, lng: 11.0861565 },
        { lat: 54.7036049, lng: 25.2773042 },
        { lat: 33.5722678, lng: -7.6570321 },
        { lat: 41.3920651, lng: 2.1407344 },
        { lat: 48.63, lng: 2.42 },
      ];


      locations.forEach(function (location) {
        new google.maps.Marker({
          position: location,
          map: map
        });
      });
    }
  </script>


  <!-- API Google Maps -->
  <script async defer
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgOz2GSk6BRSl8UQWGqnLUNSiEkZoBJZ8&callback=initMap'></script>
  <!-- #Wrapper -->






</body>


</html>
