<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion Visio - Site d'Éducation</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/base-style.css">
</head>

<body>
  <!-- Div pour le fond flou -->
  <div class="background"></div>

  <%- include('partials/navbar-etablissement') %>

  <!-- Contenu principal -->
  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <!-- Carte de connexion à la réunion -->
      <div class="card p-4" style="width: 100%; max-width: 500px; border-color: #023164;">
        <h3 class="card-title text-center mb-4" style="color: #023164;">Connexion à la Réunion</h3>
        <form>
          <div class="form-group">
            <label for="meetingLink">Lien de la Réunion</label>
            <input type="url" class="form-control" id="meetingLink" placeholder="https://example.com/reunion">
          </div>
          <div class="form-group mt-3">
            <label for="meetingPassword">Mot de Passe</label>
            <input type="password" class="form-control" id="meetingPassword" placeholder="Mot de passe">
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4" style="background-color: #023164;">Se
            Connecter</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>