<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/espace_etablissement">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/publier">Publier une Offre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visio">Visio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/espace_pedagogique">Espace Pédagogique</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <button class="btn btn-light" id="loginButton">Se déconnecter</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>